# Dependências
/node_modules

# WhatsApp
/.wwebjs_auth/
/.wwebjs_cache/

# Arquivos temporários
/.pnp
.pnp.js

# Arquivos gerados na construção
/dist
/build
/out
/.next
/.nuxt
/.out

# Arquivos de logs e debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm
.npm

# Ficheiros de trabalho
.DS_Store
Thumbs.db
